body {
  font-family: sans-serif;
  color: #333;
  background: url('images/icons8-google-100.png') no-repeat center center fixed;
  background-size: cover;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 12px;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
